*{
  margin:0;
  padding:0;
  list-style: none;
  box-sizing: border-box;
}


img{
  max-width: 100%;
  display:block;
}


body{
  font-family: Roboto, sans-serif;
  margin:2rem;
}



.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
}


.anime{
  opacity:0;
  transform: translateX(-20px);
  animation: anime .4s linear forwards;
}


@keyframes anime {
  to{
    opacity:1;
    transform: initial;
  }
}